<h2 class=" d-inline p-3">Book list</h2>
<button class=" btn btn-success mb-3 mr-3 btn-sm" (click)="addBook()">Add New</button>

<table class="table" >
    <thead>
      <tr>
        <th scope="col">Book Name</th>
        <th scope="col">Publish Year</th>
        <th scope="col">Avability</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; let i= index">
        <td>{{book.name}}</td>
        <td>{{book.year}}</td>
        <td *ngIf="book.availability">availabile</td>
        <td *ngIf="!book.availability">borrowed</td>
        <td class="">
          <button type="button" (click)="deleteBook(book.id)" class="btn btn-danger m-2">Delete</button>
          <button type="button" class="btn btn-info" (click)="updateBook(book,i)">Update</button>

        </td>

      </tr>      
    </tbody>
  </table>
